body {
    background-color: black;
    color: white; /* Opcional: Cambia el color del texto para que sea visible */
}

.cabecera {
    text-align: justify;
    text-align: center;
}

.bloque {
    width: 500px;       /* mismo ancho que la imagen */
    margin: 0 auto;     /* centra el bloque en la página */
    text-align: center;
    text-align: justify;
    padding-left: 5vw;
    padding-right: 5vw;
}

.enlace-azul {
  color: blue;
}
